bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
bitrix/tmp
bitrix/stats
bitrix/.settings.php
bitrix/php_interface/dbconn.php
bitrix/php_interface/.#dbconn.php
bitrix/modules/*.log
bitrix/modules/*.log.*
bitrix/themes/.default/modules.css
upload
bitrix/html_pages
bitrix/site_checker_*.log
bitrix/backup
about/AppDelete/
.vscode/
.idea/
*.tar.*
*.zip
*.sql
urlrewrite.php
.htaccess
*.log
*.txt
.DS_Store
